html {
    font-size: 20px; /*setting the default rem value*/
    font-family: Arial, Helvetica, sans-serif;
}
/*default rem values before media checks for different text elements*/
h1.headName{
    font-size: 3rem;
}
div.links{ /*sets the size for the html links inside this div to be bigger than default*/
    font-size: 1.5rem;
}
/*-------make the rem values smaller for smaller device view ports---------*/
@media (max-width: 768px) { /*targets tablets in landscape mode and down*/
    html {
        font-size: 15px; /*makes our rems smaller (15px down from 20px) for smaller media view ports*/
    }
    h1.headName {
        font-size: 2.7rem; /*smaller header name for the smaller view ports*/
    }
}
@media (max-width: 480px) { /*targets mobiles in landscape mode and down*/
    html {
        font-size: 10px;
    }
    h1.headName {
        font-size: 2.65rem;
    }
}
/*------------CONTENT-------------*/
body {
    margin: 0%;
    background-color: rgb(116, 39, 39);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

/* restaurant logo top left*/
.logo {
    display: flex;
    justify-content: space-around;
}
/*header colours so users can quickly tell they are on a different page*/
.colorHome{
    background-color: rgb(105, 4, 4);
}
.colorMenu{
    background-color: rgb(107, 94, 34);
}
.colorHour{
    background-color: rgb(50, 119, 41);
}
.colorReserve{
    background-color: rgb(41, 103, 119);
}
.colorContact{
    background-color: rgb(62, 41, 119);
}
.textWhite{
    color: rgb(255, 255, 255);
}
/* restaurant name */
h1.headName {
    margin: auto;
    text-shadow: 0.25rem 0.25rem rgb(0, 0, 0); /*rem shadow values to scale with view port*/
}

/*grid for the navigation html links to other pages*/
div.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.6rem;
    background-color: rgb(94, 56, 6);
}
/*html link settings*/
a.fill-1{
    line-height:2.5rem; /*line height the same as div.links to make buttons taller and centered to be accessible*/
    background-color: rgb(168, 100, 28);
    text-align: center;
}
div.padText{
    padding-left: 15%;
    padding-right: 15%;
}
/*happens after the a.fill-1 to change them*/
@media (max-width: 768px) {
    a.fill-1{
        font-size: 1.3rem;
    }
    div.padText{
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media (max-width: 480px) {
    a.fill-1{
        font-size: 1.7rem;
        line-height:3.2rem;
    }
    div.links{ /*new grid layout for smallest media view*/
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    div.padText{
        padding-left: 5%;
        padding-right: 5%;
    }
}