body {
    margin: 0%;
    background-color: rgba(26, 14, 1, 0.7);
}

/* restaurant logo top left*/
.logo {
    display: flex;
    align-items: center;
}

/* restaurant name */
.headName {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif; /* backup fonts if first doesn't load */
    font-weight: lighter;
    color: rgb(255, 255, 255);
    font-size: 300%;
}